$size: 60px;
$height: 20px;
$width: 30px;
$line-size: 3px;
$line-color: #353b48;
$line-radius: $line-size;
$to-translate: ($height - $line-size) / 2;
$bounce: cubic-bezier(.87,-.50,.19,1.50);


.menu {
    position: relative;
    height: $size;
    width: $size;
    cursor: pointer;
    overflow: hidden;
    
    &__icon {
      position: absolute;
      width: $width;
      height: $height;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__line {
      position: absolute;
      left: 0;
      background-color: white;
      height: $line-size;
      width: 100%;
      border-radius: $line-radius;
      pointer-events: none;
      &--1 {
        top: 0;
      }
      &--2 {
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &--3 {
        bottom: 0;
      }
    }

    /*--- Close Button 4 ---*/
    
    &--close4 &__line--1,
    &--close4 &__line--3{
      transition: all .2s ease-in-out;
    }
    &--close4 &__line--2{
      transition: transform .2s ease-in-out;
    }
    &--close4 &__line--2:before {
      content: '';
      position: absolute;
      width: 100%;
      height: $line-size;
      background-color: white;
      border-radius: $line-radius;
      transition: transform .2s ease-in-out;
    }
    // Open
    &--close4.open &__line--1 {
      color: $primary-color;
      opacity: 0;
      transform: translate3d(-2*$to-translate,0,0);
      transition: all .2s ease-in-out;
    }
    &--close4.open &__line--2{
      background-color: $primary-color;
      transform: rotate(45deg);
      transition: transform .2s ease-in-out;
    }
    &--close4.open &__line--2:before {
      background-color: $primary-color;
      transform: rotate(-90deg);
      transition: transform .2s ease-in-out;
    }
    &--close4.open &__line--3{
      color: $primary-color;
      opacity: 0;
      transform: translate3d(2*$to-translate,0,0);
      transition: all .2s ease-in-out;
    }

  }