
/* ----- VARIABLES ---------------------------------------------------------- */

$neutral-color: #fff;
$black-color: #000;

$primary-color: #115caf;
$secondary-color: #c3344c;
$primary-dark-color: #323232;
$primadry-gray-color: #636e72;

//RESPONSIVE
$breakpoints: (
'lg': (max-width: 1199px),
'md': (max-width: 991px),
'sm': (max-width: 767px),
'xs': (max-width: 480px)
);